<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="local.tossfront.youtubeweb" android:versionCode="5" android:versionName="2.3">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="33" />
    <uses-permission android:name="android.permission.INTERNET" />
    <queries><package android:name="dev.tossfront.record" /></queries>
    <application android:label="YouTube 웹" android:icon="@drawable/app_icon" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:usesCleartextTraffic="false">
        <activity android:name=".YouTubeWebActivity" android:exported="true" android:launchMode="singleTask" android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
