<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.tossfront.record" android:versionCode="1" android:versionName="1.0.0">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="33" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <queries>
        <package android:name="com.google.android.youtube" />
        <package android:name="local.tossfront.youtubeweb" />
        <package android:name="dev.tossfront.audio" />
    </queries>
    <application android:label="레코드 플레이어" android:icon="@drawable/ic_record" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false" android:debuggable="false">
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="portrait">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <service android:name=".SessionListener" android:exported="true" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter><action android:name="android.service.notification.NotificationListenerService" /></intent-filter>
        </service>
        <service android:name=".RecordOverlay" android:exported="false" />
    </application>
</manifest>
